
<div>
 <h2>マイページ</h2>
  <h3>登録情報</h3>
　<p><%= link_to "編集する", customers_edit_path, class: "btn btn-success" %></p>


  <table class ="table table-striped-columns table-bordered">
     <tr>
      <th>氏名</th>
      <th><%= @customer.first_name %>  <%= @customer.last_name %></th>
     </tr>
     <tr>
      <th>カナ</th>
      <th><%= @customer.first_name_kana %>  <%= @customer.last_name_kana %></th>
     </tr>
     <tr>
      <th>郵便番号</th>
      <th><%= @customer.postal_code %></th>
     </tr>
     <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
     </tr>
     <tr>
      <th>電話番号</th>
      <th><%= @customer.telephone_number %></th>
     </tr>
     <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
     </tr>
  </table>


  <h3>配送先</h3>

  <h3>注文履歴</h3>





</div>
