
<div class ="container">
 <h2 class ="mt-3">マイページ</h2><br>
  <h4><strong>登録情報　</strong><%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></h4>

 <div class ="row">
  <div class ="col-lg-9">
   <table class ="table table-bordered">
     <tr>
      <td class="table-active col-lg-3">氏名</td>
      <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
     </tr>
     <tr>
      <td class="table-active col-lg-3">カナ</td>
      <td><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></td>
     </tr>
     <tr>
      <td class="table-active col-lg-3">郵便番号</td>
      <td><%= @customer.postal_code %></td>
     </tr>
     <tr>
      <td class="table-active col-lg-3">住所</td>
      <td><%= @customer.address %></td>
     </tr>
     <tr>
      <td class="table-active col-lg-3">電話番号</td>
      <td><%= @customer.telephone_number %></td>
     </tr>
     <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
     </tr>
   </table>
  </div>
 </div>

 <div class ="mt-3">
  <h4><strong>配送先　　</strong><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></h4>
 </div>
 <div class ="mt-3">
  <h4><strong>注文履歴　</strong><%= link_to "一覧を見る", orders_path, class: 'btn btn-primary' %></h4>
 </div>

</div>
