<div class ="container">
  <p id= "alert"><%= alert %></p>
  <div class ="row">
    <div class ="col-lg-2 mt-3">
      <%= render 'public/items/genre_list', genres: @genres %>
    </div>

    <div class ="top_image col-lg-7 offset-lg-1 mt-3">
     <div class ="back_image">
       <h4 class ="text justify-content-center offset-lg-1 mt-3">
         <br>
         <br>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
       </h4>
      </div>
    </div>
  </div>

  <div class ="offset-lg-3">
    <h4 class ="mt-3"><strong>新着商品</strong></h4>

    <div class ="row mt-3">
      <% @items.each do |item| %>
      <div class ="col-lg-3">
       <div>
         <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "120x120" %>
         <% end %>
         <p><%= item.name %></p>
         <p>¥<%= item.price %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  </div>

  <div class ="row">
    <div class ="offset-lg-9">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>




</div>