<div class ="container">
  <h2 class ="mt-3"><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h2>

  <table class ="table table-borderless mt-3">
     <tr>
       <th class ="col-lg-2">会員ID</th>
       <th><%= @customer.id %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">氏名</th>
      <th><%= @customer.first_name %>  <%= @customer.last_name %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">カナ</th>
      <th><%= @customer.first_name_kana %>  <%= @customer.last_name_kana %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">郵便番号</th>
      <th><%= @customer.postal_code %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">住所</th>
      <th><%= @customer.address %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">電話番号</th>
      <th><%= @customer.telephone_number %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">メールアドレス</th>
      <th><%= @customer.email %></th>
     </tr>
     <tr>
      <th class ="col-lg-2">会員ステータス</th>
      <th>
       <% if @customer.is_deleted %>
        <p class ="text-secondary">退会</p>
       <% else %>
        <p class ="text-success">有効</p>
       <% end %>
      </th>
     </tr>
     <tr>
       <th></th>
       <th><%= link_to "編集する", edit_admin_customer_path(@customer), class:"btn btn-success" %></th>
     </tr>
  </table>



</div>