
<div>
  <div>
    <div>
      <h2>注文履歴詳細</h2>
      <table class = 'table table-borderless'>
        <tr>
          <th><strong>購入者</strong></th>
          <td><%= @order.customer.first_name %><%= @order.customer.last_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <p>〒<%= @order.postal_code %>  <%= @order.address %></p>
            <p><%= @order.name %></p>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th> </th>
          <td> </td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <div>
      <table class ='table table-borderd' >
        <thead class = 'thead-light'>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
           <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.item.with_tax_price %></td>
            <td><%= order_item.amount %></td>
            <td><%= order_item.price %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <table class ='table table-borderless'>
      <tr>
        <th><strong>商品合計</strong></th>
        <td><%= @total %></td>
      </tr>
      <tr>
        <th><strong>送料</strong></th>
        <td><%= @order.shopping_cost %></td>
      </tr>
      <tr>
        <th><strong>請求金額合計</strong></th>
        <td><%= @order.total_payment %></td>
      </tr>
    </table>
  </div>


</div>