
<div>
  <h2>注文情報入力</h2>

  <%= form_with model: @order,  url: orders_check_path do |f| %>
  <div>
    <h4><strong>支払い方法</strong></h4>
     <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
     <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>

     <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
     <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>

    <h4><strong>お届け先</strong></h4>
     <%= f.radio_button :address_number, 1 %>
     <%= f.label :address_number_1, "ご自身の住所" %>
      <div>〒<%= current_customer.postal_code %> <%= current_customer.address %><br><%= current_customer.first_name %><%= current_customer.last_name %><br></div>

     <%= f.radio_button :address_number, 2 %>
     <%= f.label :address_number_2, "登録済住所から選択" %>
      <div><%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %></div>

     <%= f.radio_button :address_number, 3 %>
     <%= f.label :address_number_3, "新しいお届け先" %>
      <div class ="form-group">
        <%= f.label :postal_code, "郵便番号(ハイフン)なし" %>
        <%= f.text_field :postal_code, class: "form_control" %>
      </div>
      <div class ="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, size: "50", class: "form_control" %>
      </div>
      <div class ="form-group">
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name, class: "form_control" %>
      </div>

    <div class = "actions" >
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

</div>