
<div>
  <div>

  </div>

  <div>
    <h2><%= "商品一覧 (全#{@items_all.count}件)" %></h2>
    <% @items.each do |item| %>
    <div class = "item_box">
      <%= image_tag item.image, size: "150x150" %>
      <div><%= item.name %></div>ol
      <div>¥<%= item.price %></div>
    </div>
    <% end %>
  </div>

  <%= paginate @items %>


</div>