<div class ="container">
  <div class ="row">
    <div class ="col-lg-2 mt-3">
      <%= render 'genre_list', genres: @genres %>
    </div>

    <div class ="col-lg-9 mt-3">
     <h2><%= "商品一覧 (全#{@items_all.count}件)" %></h2>
     <div class ="row">
      <% @items.each do |item| %>
      <div class = "col-lg-3">
        <div>
         <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "150x150" %>
         <% end %>
        </div>
        <div><%= item.name %></div>
        <div>¥<%= item.price %></div>
      </div>
      <% end %>
     </div>
    </div>
  </div>

    <div class ="row justify-content-center mt-3">
     <%= paginate @items %>
    </div>

</div>

